$desktop-size: 57rem;
$primary-color-white: hsl(0, 0%, 100%);
$primary-color-black: hsl(0, 0%, 0%);
$primary-color-dark-gray: hsl(0, 0%, 55%);
$primary-color-very-dark-gray: hsl(0, 0%, 41%);
$font-size: 0.9375rem;
$font-family-alata: 'Alata';
$font-weight-alata: 400;
$font-family-josefin-sans: 'Josefin Sans';
$font-weight-josefin-sans: 300;